@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.ParticipantsOfTraining.CreateModel

@{
    Layout = "_Create";
}

    <body>
    @Html.EditControlsForDropDown(model => model.Item.ClientId, Model.Clients)
        @Html.EditControlsForDropDown(model => model.Item.TimetableEntryId, Model.TimetableEntries)
        @Html.EditControlsForDropDown(model => model.Item.CoachId, Model.Coaches)
        @Html.EditControlsFor(model => model.Item.RegistrationTime)
    </body>