@page
@model TrainingApp.Soft.Areas.SportsClub.Pages.ParticipantsOfTraining.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ParticipantOfTrainingView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParticipantOfTrainingView.ClientId" class="control-label"></label>
                <input asp-for="ParticipantOfTrainingView.ClientId" class="form-control" />
                <span asp-validation-for="ParticipantOfTrainingView.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipantOfTrainingView.TimetableEntryId" class="control-label"></label>
                <input asp-for="ParticipantOfTrainingView.TimetableEntryId" class="form-control" />
                <span asp-validation-for="ParticipantOfTrainingView.TimetableEntryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipantOfTrainingView.CoachId" class="control-label"></label>
                <input asp-for="ParticipantOfTrainingView.CoachId" class="form-control" />
                <span asp-validation-for="ParticipantOfTrainingView.CoachId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipantOfTrainingView.RegistrationTime" class="control-label"></label>
                <input asp-for="ParticipantOfTrainingView.RegistrationTime" class="form-control" />
                <span asp-validation-for="ParticipantOfTrainingView.RegistrationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipantOfTrainingView.Id" class="control-label"></label>
                <input asp-for="ParticipantOfTrainingView.Id" class="form-control" />
                <span asp-validation-for="ParticipantOfTrainingView.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
