@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.ParticipantOfTrainings.DeleteModel

@{
    Layout = "_Delete";
}
<body>
@Html.DisplayControlsFor(model => model.Item.Name)
@Html.DisplayControlsFor(model => model.Item.ClientId)
@Html.DisplayControlsFor(model => model.Item.TimetableEntryId)
@Html.DisplayControlsFor(model => model.Item.RegistrationTime)

</body>