@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.ParticipantOfTrainings.DeleteModel

@{
    Layout = "_Delete";
}
<body>
    @Html.DisplayControlsFor(model => model.Item.ClientId, Model.GetClientName(Model.Item.ClientId))
    @Html.DisplayControlsFor(model => model.Item.TimetableEntryId, Model.GetTimetableEntryName(Model.Item.TimetableEntryId))
    @Html.DisplayControlsFor(model => model.Item.ValidFrom)

</body>