@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.ParticipantOfTrainings.IndexModel
@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}
<body>
    <table class="table">
            <thead>
                @Html.TableHeaderFor(
        new Link(Html.DisplayNameFor(m => m.Item.ClientId), Model.GetSortString(m => m.ClientId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.TimetableEntryId), Model.GetSortString(m => m.TimetableEntryId, page)),
                    new Link(Html.DisplayNameFor(m => m.Item.RegistrationTime), Model.GetSortString(m => m.RegistrationTime, page))
                )
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    @Html.TableRowFor(
                        page,
                        item.Id,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.Raw(Model.GetNameFromId(item.ClientId, Model.Clients)),
                        Html.Raw(Model.GetNameFromId(item.TimetableEntryId, Model.TimetableEntries)),
                        Html.DisplayFor(modelItem => item.RegistrationTime)
                        )
                </tr>
            }
        </tbody>
    </table>
</body>