@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TrainingCategories.DeleteModel

@{
    Layout = "_Delete";
}

<body>
<dl class="row">
    @Html.DisplayControlsFor(Model => Model.Item.Category)
</dl>
</body>