@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TrainingCategories.DetailsModel

@{
    Layout = "_Details";
}

<body>
@Html.DisplayControlsFor(Model => Model.Item.Category)
</body>

@section Details {
}