@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TrainingCategories.EditModel

@{
    Layout = "_Edit";
}

<body>
    @Html.HiddenEditControlsFor(model => model.Item.Id)
@Html.EditControlsFor(model => model.Item.Name)
</body>