@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Clients.CreateModel

@{
    Layout = "_Create";
}

<body>
@Html.EditControlsFor(model => model.Item.Id)
@Html.EditControlsFor(model => model.Item.Name)
@Html.EditControlsFor(model => model.Item.Email)
@Html.EditControlsFor(model => model.Item.DateOfJoining)
</body>
