@page
@model IndexModel
@{
    ViewData["Title"] = "Sports Club";
}

<div class="text-center">
    <h1 class="display-4">Mingi lahe tekst</h1>
    
    <p>Näiteks registreeru treeningule?? <a href="https://localhost:5001/SportsClub/ParticipantOfTrainings/Create">SIIN</a>.</p>
</div>
