@page
@using TrainingApp.Pages.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Sports Club";
    var page = "SportsClub/ParticipantOfTrainings";
    var clientPage = "SportsClub/Clients";
}

<div class="text-center">
    <h1 class="display-4">Triple M GYM</h1>

    @Html.HypertextLinkFor(string.Empty,new Link(Constants.CreateNewClientTitle,$"{clientPage}/Create"))
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewReservationTitle, $"{page}/Create"))
</div>
