@page
@using TrainingApp.Pages.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Sports Club";
    var page = "SportsClub/ParticipantOfTrainings";
    var clientPage = "SportsClub/Clients";
}

<body class="background">
    <div class="text-center">
        <h1 class="display-1">
            <strong>Triple M GYM</strong>
        </h1>
    </div>
    <div class="text-center">
        @Html.HypertextLinkFor(string.Empty, new Link(Constants.createNewReservationTitle, $"{page}/Create"))
        @Html.HypertextLinkFor(string.Empty, new Link(Constants.createNewClientTitle, $"{clientPage}/Create"))
    </div>
</body>