@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TrainingTypes.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    <dl class="row">
        @Html.DisplayControlsFor(Model => Model.Item.Type)
    </dl>
</body>