@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TrainingTypes.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="@Model.Item.Id" />
    @Html.EditControlsFor(Model => Model.Item.Name)
</body>