@page
@using System.Security.Cryptography.X509Certificates
@using TrainingApp.Aids
@using TrainingApp.Data.SportsClub
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TrainingTypes.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}

@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}

<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Type), Model.GetSortString(m => m.Type, page))
                )
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    @Html.TableRowFor(
                        page,
                        item.Id,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.DisplayFor(modelItem => item.Type)
                        )
                </tr>
            }
        </tbody>
    </table>
</body>