@{
    Layout = "_Layout";
    ViewData["Title"] = Model.PageTitle;
}

<h1>@ViewData["Title"]</h1>

<h4>Muuda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @RenderBody()
            <div class="form-group">
                <input type="submit" value="Salvesta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index"
       asp-route-fixedFilter="@Model.FixedFilter"
       asp-route-fixedValue="@Model.FixedValue">Tagasi nimekirja</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}