@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Locations.DeleteModel

@{
    Layout = "_Delete";
}

<body>
<dl class="row">
        @Html.HiddenEditControlsFor(model => model.Item.Id)
    @Html.DisplayControlsFor(model => model.Item.Name)
</dl>
</body>

