@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Locations.DetailsModel

@{
    Layout = "_Details";
}
<body>
@Html.DisplayControlsFor(model => model.Item.Name)
</body>
@section Details {
}