@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Locations.EditModel
@{
    Layout = "_Edit";
}
<body>
    @Html.EditControlsFor(model => model.Item.Name)
</body>