@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Locations.IndexModel
@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}
<body>
<table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Code), Model.GetSortString(m => m.Code, page))
                )
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.TableRowFor(
                page,
                item.Id,
                Model.FixedFilter,
                Model.FixedValue,
                Html.DisplayFor(modelItem=>item.Code)
                )
        </tr>
    }
    </tbody>
</table>
</body>